/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

/* a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
} */

/* hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-color{
    background-color: #343A40;
    color: white;
}

.navbar-brand{
    font-size: xx-large;
}

.nav-link{
    padding: 5px;
    margin: 10px;
    color: white !important;
    border-bottom: 2px solid transparent;
}
.nav-link:hover,
.nav-link:focus{
    border-bottom: 2px solid white;
    transition: all 0.5s ease-in-out 0s
}

.bg-image{
    background-image: url("../images/hero-bg.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px;
    width: 100%;
    height: auto;
}
.header-text{
    text-align: center;
    color: white;
    padding-top: 280px;
}
.section-heading{
    text-align: center;
    border-bottom: 3px solid black;

}
.section-heading:hover{
    cursor: pointer;
    color: rgb(23, 235, 235);
    border-bottom: 3px solid rgb(23, 235, 235);
    transition: all 0.5s ease-in-out 0s

}

.title-s{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skill-mf span{
    color: #4e4e4e;
}
.skill-mf .progress{
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.card{
    border: 3px solid #343A40;
    margin: 10px;
}
.card:hover{
    border: 3px solid rgb(23, 235, 235);
    margin: 10px;
}
.card-img{
    height: 500px;
    overflow: hidden;
}
.contact{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.contact li a{
    font-weight: 600;
    margin: 0px 30px 0px 30px;
    border-bottom: 2px solid #343A40;
    color: #343A40;
    text-decoration: none;
}
.contact li a:hover{
    color: rgb(23, 235, 235);
    border-bottom: 2px solid rgb(23, 235, 235);
}
.footer{
    margin-bottom: 0px !important;
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 769px) {
    .bg-image{
        height: auto;
    }
    .contact{
        flex-direction: column;
        justify-content: left !important;
        align-items: left !important;
        /* align-items: left !important; */

    }
    .contact li{
        padding: 10px;
    }

}